<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Help</title>
    <script src="https://cdn.tailwindcss.com"></script>
</head>
<body class="bg-gray-100 flex flex-col items-center min-h-screen">

<!-- Include Header -->
<div th:replace="header :: nav"></div>

<div class="bg-white p-8 mt-10 rounded-lg shadow-md w-96 text-center">
    <h2 class="text-2xl font-bold mb-5">Help Page</h2>
    <p class="text-gray-700">For any issues, contact support@example.com</p>
</div>
</body>
</html>
